:root {
  --color-primary: #186297;
  --color-white: #faf9f6;
  --color-white-drk: #e1e0dd;
  --color-black: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-white-drk);

  font-family: "Poppins", sans-serif;
}

#root {
  max-width: 180rem;
  height: 100vh;

  margin: 0 auto;
}
